@import url("https://fonts.googleapis.com/css2?family=Jost:wght@300&display=swap");
@font-face {
  font-family: Meedori-Sans;
  src: url("/public/Meedori-Sans-Regular.woff");
}

.App {
  background: url("E:\hashpotato\my-app\public\astro.png");
  background-size: cover;
  background-position: center center;
  background-attachment: fixed;
  width: 100%;
  display: flex;
}

@media screen and (max-width: 420px) {
  /* .App {
    height: 110vh;
  } */
  .full {
    display: flex;
    flex-direction: column;
    color: white;
    justify-content: center;
    text-align: center;
    align-items: center;
    width: 400px;
    height: 100vh;
  }
  .home {
    display: flex;
    flex-direction: column;
    color: white;

    width: 200px;
    height: auto;
  }
}
